<h1>{{page_title}}</h1>
{{#if content}}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>More Info</th>
        </tr>
    </thead>
    <tbody>
        {{#each content}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.title}}</td>
            <td><a href="./bookpage/{{this._id}}"> More Info</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>No Content</p>
{{/if}}